/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

/* locally imported font */
@font-face {
  font-family: AdamWarrenFont;
  src: url("/assets/font/adam-warren-pro.regular.ttf") format("truetype");
}

:root {
  /* colors */
  --BG-COLOR: #333;

  /* padding */
  --PANEL-PADDING: 4rem;

  /* font */
  --HEADING-FS: 5rem;
}

html,
body {
  font-size: 1.2rem;
  font-family: AdamWarrenFont, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(30, 25, 30);
  max-width: 100%;
}

/* || GENERAL STYLES */

/* || INTRO SLIDE STYLES */

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(
    #ff6bfd,
    rgba(228, 104, 104, 0.684),
    #fffd70
  ); /*,
    url(img/title_bg_5184x3456.jpg); */
  /* background-size: cover;      \\\ if using image background */
}

.title__h1 {
  font-size: var(--HEADING-FS);
}

.title__h4 {
  font-size: 0.8rem;
}

/* bobbing arrow */
.title__arrow-div {
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 200px;
}

@keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

.title__arrow {
  animation: bouncing 1s infinite ease-in-out;
  bottom: 0;
  display: block;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

/* || PANEL STYLING */

.panel__odd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem;
  height: 200vh;
}

.panel__img-container {
  position: sticky;
}
